@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

/* Custom styles */
body {
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-position: center;
}

.light-bulb.on {
    background-color: #f1c40f;
    box-shadow: 0 0 20px #f1c40f, 0 0 40px #f1c40f;
}

footer {
    text-align: center;
    margin: 20px 0;
    color: #555;
    font-size: 0.9rem;
}

/* Custom loading animation */
@keyframes loading {
  0% {
    transform: translateX(-100%);
    width: 0%;
  }
  50% {
    transform: translateX(0%);
    width: 100%;
  }
  100% {
    transform: translateX(100%);
    width: 0%;
  }
}